.tsl-vehicle {
  table {
    border: 1px solid black;
    border-collapse: collapse;
  }

  .top-details {
    display: grid;
    grid-template-columns: 80px auto;
    justify-items: center;
    column-gap: 8px;
    margin: 8px 0;

    img {
      height: 80px;
    }

    .basic-details {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      column-gap: 8px;
      row-gap: 4px;
      width: 100%;

      input:first-of-type {
        font-size: 2.5em;
        height: auto;
        grid-column: 1 / -1;
      }
    }
  }

  nav {
    margin-bottom: 8px;
  }
  
  .tslv-sheet-body {
    height: 82%;

    table {
      text-align: center;
    }

    .tsl-summary {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      column-gap: 16px;
      place-items: center;

      img {
        border: none;
        margin: 0;
      }
    }

    .tab.active {
      height: 100%;

      .editor-content {
        height: 525px;
      }
    }
  }
}