.tsl-vehicle {
  nav {
    margin-bottom: 8px;
  }
  
  .tslv-sheet-body {
    height: 82%;

    .tab.active {
      height: 100%;

      .editor-content {
        height: 525px;
      }
    }
  }

  .top-details {
    display: grid;
    grid-template-columns: 80px auto;
    justify-items: center;
    column-gap: 16px;
    margin: 8px 0;

    img {
      height: 80px;
    }

    .basic-details {
      width: 100%;

      input {
        font-size: 2.5em;
        height: auto;
      }
    }
  }
}