<div class="tsl-mod-totals">
  <div class="mod-total">
    <h3>Engine IR:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Transmission IR:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Chassis IR:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Suspension IR:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Horsepower:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Reactivity:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Brakes:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Top Speed:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Torque:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>XLR8:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Stopping:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Turning:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Load:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Hit Points:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Armor Class:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Armor:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Ramming Damage:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Hours of Operation:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Fuel Capacity:</h3>
    <h3>0</h3>
  </div>
  <div class="mod-total">
    <h3>Weight:</h3>
    <h3>0&nbsp;lbs</h3>
  </div>
</div>
<table>
  <thead>
    <tr>
      <th>MODIFICATIONS LIST</th>
    </tr>
  </thead>
</table>
<div class="tsl-mod-list">
  stuff
</div>