<div>
  <table>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.currentSpeed"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tsl-gauge">
            <div class="tsl-current-value">
              <a><i class="fas fa-minus"></i></a>
              <input style="width:75px" name="" type="number" data-dtype="Number" value="" onfocus="this.select()"/>
              <a><i class="fas fa-plus"></i></a>
            </div>
            <div class="gauge" style="width:140px">
              <span class="dial band"></span>
              {{#times 24}}
                <span class="tick tick-speedo"></span>
              {{/times}}
              <span class="needle pushed"></span>
              {{!-- Fuel ticks; Big every 25%, one between each. --}}
              {{!-- Fuel gauge w/ red fuel.svg inside when <25% fuel. --}}
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>MPH</span>
            <span>25</span>
            <span>/</span>
            <span>52</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>KPH</span>
            <span>25</span>
            <span>/</span>
            <span>15,500</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-speed-conversion">
            <span>SPR</span>
            <span>15,500</span>
            <span>/</span>
            <span>15,500</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table class="tsl-defenses">
    <thead>
      <tr>
        <th colspan="2">{{localize "tsl.summaryPage.hitPoints"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <div class="tsl-hp">
            <input name="" type="number" data-dtype="Number" value="" onfocus="this.select()"/>
            <span>/</span>
            <span>15,500</span>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="tsl-ac-armor">
            <span><b>AC</b></span>
            <span>50</span>
            <span><b>HD</b></span>
            <span>50</span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th>{{localize "tsl.summaryPage.curbWeight"}}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="font-size:1.25em">31,000,000</td>
      </tr>
    </tbody>
  </table>
</div>